@model ABF.ViewModels.EventIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string dropdownId = "addOnMenu";

    var eventDates = Model.Events.Select(x => x.Event.Date).Distinct();
}

<div class="jumbotron box-colour">
    <div class="button-group text-center">
        <div class="row mb-3">
            <div class="col text-center">
                @Html.ActionLink("All Events", "Index", null, new { @class = "btn btn-secondary btn-lg shadow-sm" })
                @Html.ActionLink("List View", "Index", "Bookings", null, new { @class = "btn btn-primary btn-lg shadow-sm" })
            </div>
        </div>
        @foreach (var item in eventDates)
        {
            @Html.ActionLink(item.Date.ToString("ddd") + " " + item.Day.ToString() + " " + item.Date.ToString("MMM"), "Index", new { dateSearch = item.Date }, new { @class = "btn btn-info btn-lg shadow mr-2" })

        }

    </div>
</div>

<hr />

<div class="row align-items-center h-100">

    @foreach (var item in Model.Events)
    {
        <div class="col mb-5 pb-5 mt-5">
            <div class="card shadow" style="width: 20rem;">
                <img src="@Url.Content(item.Image.ImagePath)" class="card-img-top" alt="Event Image">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Event.Name)</h5>
                    <h6>@Html.DisplayFor(modelItem => item.Event.Author)</h6>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Event.Details)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Event.Date)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Event.StartTime) - @Html.DisplayFor(modelItem => item.Event.EndTime)</p>

                    <p>
                        <button class="btn btn-info shadow-sm" type="button" data-toggle="collapse" data-target="#@dropdownId" aria-expanded="false" aria-controls="@dropdownId">
                            Details
                        </button>
                    </p>
                    <div class="collapse" id="@dropdownId">
                        <div class="card card-body">
                            @Html.DisplayFor(modelItem => item.Event.Description)
                            @Html.ActionLink("Book", "Details", "Bookings", new { id = item.Event.Id }, new { @class = "btn btn-info shadow mr-2 mt-2"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
        dropdownId = dropdownId + 1;
    }

</div>
