@model IEnumerable<ABF.Data.ABFDbModels.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string menuId = "adminMenu";
}

<h2>Events</h2>

<hr />

<p class="lead">
    Edit an event to add Add-Ons.
</p>

<p>
    @Html.ActionLink("New Event", "New", "AdminEvents", htmlAttributes: new { @class = "btn btn-success shadow-sm" }) 
</p>

<table id="events" class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Location.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th scope="col">
                Duration
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td class="text-center"> 
                    <p>                       
                        <button class="btn btn-outline-info shadow-sm" type="button" data-toggle="collapse" data-target="#@menuId" aria-expanded="false" aria-controls="@menuId">
                            Menu
                        </button>
                    </p>
                    <div class="collapse" id="@menuId">
                        <div class="card card-body menu-links">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info btn-block shadow-sm" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info btn-block shadow-sm" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info btn-block shadow-sm" })
                        </div>
                    </div>
                </td>
            </tr>
            menuId = menuId + 1;
        }
    </tbody>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#events").dataTable();
        });
    </script>
}
