@model IEnumerable<ABF.ViewModels.TicketListViewModel>

@{
    ViewBag.Title = "Tickets For Event";
}

<h2>Ticket Sales for Event</h2>
<h3>Total Sales: <b>@Model.Count()</b></h3>

<table class="table table-hover table-bordered table-condensed" id="ticketsTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ticketId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerName)
        </th>
    </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ticketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderDate.ToString("dd-MM-yyyy"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(function () {
            $('#ticketsTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}