@model ABF.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Customer.Id == "0")
{
    <h2>New Customer</h2>
}
else
{
    <h2>Update Customer</h2>
}
<hr />


<div class="container">
    @using (Html.BeginForm("Save", "AdminCustomers", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <div>

        @Html.ValidationSummary(true, "Please fix the following errors:", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Customer.Id)
      


        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Address1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.Customer.Address1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.Address1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.Customer.Address2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.Address2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Address3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.Customer.Address3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.Address3, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.PostCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.Customer.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.PostCode, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.Customer.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.MembershipTypeId, "Membership Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.DropDownListFor(l => l.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Type"), "Select Membership Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Customer.MembershipTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

        <div class="form-group">
            <div class="col">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
