@model ABF.ViewModels.OrderSuccessViewModel
@{
    ViewBag.Title = "Confirmed!";
    var ticketlist = Model.tickets;
    var order = Model.order;
}

<h1>Order Confirmed!</h1>

@Html.Partial("_orderDetails", order)

@if (Model.newmember)
{
    <div class="bg-success">
        <h4>Thank you for joining the Appledore Book Festival as a Member!</h4>
        <h5>Your Membership Privileges are available immediately.</h5>
        <p>Your Membership will expire at the end of this calendar year.</p>
        <p>You will receive an email when membership renewals are available.</p>
        <hr/>
    </div>
}

<h3>Here's a list of your tickets!</h3>
<table class="table">
    <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Event Name</th>
            <th>Add On Id</th>
            <th>Donwload Ticket</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var ticket in ticketlist)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ticket.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.Event.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.AddOnId)
                </td>
                <td>@Html.ActionLink("Download Ticket", "DownloadTicket", "Checkout", new { id = ticket.Id }, htmlAttributes: new { @class = "btn btn-info btn-block shadow-sm", @target = "_blank" })</td>
            </tr>
        }
    </tbody>
   
</table>

