@model ABF.ViewModels.SubmitViewModel
@{
    ViewBag.Title = "StartCheckoutGuest";
}

<h2>Checkout As A Guest</h2>
<div class="bg-warning">
    <h5>As a Guest, you will not be able to see or manage your order via the website.</h5>
    <p>To enable these features, please Register or Login using the links above.</p>
</div>
<hr />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

@using (Html.BeginForm("Submit", "Checkout", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div>

        @Html.ValidationSummary(true, "Please fix the following errors:", new { @class = "text-danger" })
        <h4>Delivery Address</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.address1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.address1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.address2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.address2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.address3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.address3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address3, "", new { @class = "text-danger" })
            </div>
        </div> <div class="form-group">
            @Html.LabelFor(model => model.postcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.postcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.postcode, "", new { @class = "text-danger" })
            </div>
        </div> <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div> <div class="form-group">
            @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Payment and Delivery</h4>

        <b>Payment Method</b>

        <div class="form-group">
            <select class="form-control" id="paymentmethod" name="paymentmethod">
                <option value="">Select...</option>
                <option value="cardemail">Pay Now - Email My Tickets</option>
                <option value="cardpost">Pay Now - Post My Tickets</option>
                <option value="cardcollect">Pay Now - Collect From Box Office</option>
                <option value="latercollect">Pay Later - Collect From Box Office</option>
                <option value="cheque">Send a Cheque - Post My Tickets </option>
            </select>

            <br />
            <div>
                <p class="alert-light" id="paymentText"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>

}



<div class="col-sm-6">
   
    <table style="width:100%">

        <tr>
            <td colspan="2" style="text-align:right">
                <hr />
                <h5>Basket Total <b>£ @(Model.total - (decimal)1.50)</b></h5>
                <h5>Booking/Transaction Fee <b>£ &nbsp;&nbsp;1.50</b></h5>
                <hr />
                <h5>Total <b>£ @Model.total </b></h5>
                <hr />
            </td>
        </tr>

    </table>
</div>
<br />
<hr />




<br />



<script>
    $(function () {
        $("#paymentmethod").on("change", function () {
            switch ($(this).val()) {
                case "cardemail":
                    $("#paymentText").html("Card Services API, such as Stripe or Paypal would go here. " +
                        "<br/>Tickets will be emailed to the email address you have provided on this page.");
                    break;
                case "cardpost":
                    $("#paymentText").html("Card Services API, such as Stripe or Paypal would go here. " +
                        "<br/>Tickets will be posted to the address you have provided on this page.");
                    break;
                case "cardcollect":
                    $("#paymentText").html("Card Services API, such as Stripe or Paypal would go here. " +
                        "<br/>Tickets will be held at the Box Office for Collection before the Festival.");
                    break;
                case "collect":
                    $("#paymentText").html("Collection and payment must be made at the Box Office with 5 working days of placing this order." +
                        "<br/>If no payment or contact has been made after 5 working days, " +
                        "your order will be cancelled and the tickets returned to stock.");
                    break;
                case "cheque":
                    $("#paymentText").html("Cheques should be payable to <b>Appledore Book Festival</b> " +
                        "and sent to the Box Office within 5 working days.<br/>" +
                        "<br/>Tickets will be posted to the address you have provided on this page after the cheque has successfully cleared.");
                    break;
            }
        });
    });
</script>
