@model ABF.ViewModels.SubmitViewModel
@{
    ViewBag.Title = "StartCheckoutGuest";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="jumbotron">
    @if (Model.isuser == false)
    {
        <h2>Checkout As A Guest</h2>
        <h5>As a Guest, you will not be able to see or manage your order via the website.</h5>
        <p>To enable these features, please Register or Login using the links above.</p>
    }
    else
    {
        <h2>Member Checkout</h2>
    }
</div>

<hr />

@using (Html.BeginForm("Submit", "Checkout", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "Please fix the following errors:", new { @class = "text-danger" })

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <table style="width:100%">
                    <tr>
                        <td colspan="3" class="bg-info"><h4>Delivery Address</h4></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-12" })</td>
                        <td>@Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.address1, htmlAttributes: new { @class = "control-label col-md-12" })</td>
                        <td>@Html.EditorFor(model => model.address1, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.address1, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.address2, htmlAttributes: new { @class = "control-label col-md-12" })</td>
                        <td>@Html.EditorFor(model => model.address2, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.address2, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.address3, htmlAttributes: new { @class = "control-label col-md-12" })</td>
                        <td>@Html.EditorFor(model => model.address3, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.address3, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.postcode, htmlAttributes: new { @class = "control-label col-md-12" })</td>
                        <td>@Html.EditorFor(model => model.postcode, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.postcode, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-12" })</td>
                        <td>@Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-12" })</td>
                        <td>@Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })</td>
                    </tr>

                    @if (Model.isuser == true)
                    {
                        <tr>
                            <td colspan="3">
                                <input type="checkbox" name="updateneeded" value=true><b>&nbsp;Update my registered details</b>
                            </td>
                        </tr>
                    }
                </table>
                
                @Html.HiddenFor(model => model.isuser)
            </div>

            <div class="col-sm-6">
                <table style="width:100%">
                    <tr>
                        <td colspan="2" class="bg-info"><h4>Payment</h4></td>
                    </tr>
                    <tr>
                        <th>Payment Method:</th>

                        <td>
                            <div class="form-group">
                                <select class="form-control" id="paymentmethod" name="paymentmethod" , @Html.EditorFor(model => model.paymentmethod, new { htmlAttributes = new { @class = "form-control" } })>
                                    <option value="">Select...</option>
                                    <option value="cardemail">Pay Now - Download Tickets</option>
                                    <option value="cardpost">Pay Now - Post Tickets</option>
                                    <option value="cardcollect">Pay Now - Collect Tickets </option>
                                    <option value="collectlater">Pay Later - Collect Tickets </option>
                                    <option value="cheque">Send Cheque - Post Tickets </option>
                                </select>
                            </div>
                        </td>
                        <td>@Html.ValidationMessageFor(model => model.paymentmethod, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br />
                            <p class="alert-light" id="paymentText"></p>
                        </td>
                    </tr>
                </table>
            </div>
            <br />



            <table style="width:100%">
                <tr>
                    <td colspan="2" style="text-align:right">
                        <hr />
                        <h5>Basket Total <b>£ @(Model.total - (decimal)1.50)</b></h5>
                        <h5>Booking/Transaction Fee <b>£ &nbsp;&nbsp;1.50</b></h5>
                        <hr />
                        <h5>Total <b>£ @Model.total </b></h5>
                        <hr />
                    </td>
                </tr>
            </table>

            <div class="form-group">
                <div class="col">
                    <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
                </div>
            </div>
        </div>
    </div>

}

<br />
<hr />


<script>
    $(function () {
        $("#paymentmethod").on("change", function () {
            switch ($(this).val()) {
                case "cardemail":
                    $("#paymentText").html("Card Services API, such as Stripe or Paypal would go here. " +
                        "<br/>Tickets will be emailed to the email address you have provided on this page.");
                    break;
                case "cardpost":
                    $("#paymentText").html("Card Services API, such as Stripe or Paypal would go here. " +
                        "<br/>Tickets will be posted to the address you have provided on this page.");
                    break;
                case "cardcollect":
                    $("#paymentText").html("Card Services API, such as Stripe or Paypal would go here. " +
                        "<br/>Tickets will be held at the Box Office for Collection before the Festival.");
                    break;
                case "collect":
                    $("#paymentText").html("Collection and payment must be made at the Box Office with 5 working days of placing this order." +
                        "<br/>If no payment or contact has been made after 5 working days, " +
                        "your order will be cancelled and the tickets returned to stock.");
                    break;
                case "cheque":
                    $("#paymentText").html("Cheques should be payable to <b>Appledore Book Festival</b> " +
                        "and sent to the Box Office within 5 working days.<br/>" +
                        "<br/>Tickets will be posted to the address you have provided on this page after the cheque has successfully cleared.");
                    break;
            }
        });
    });
</script>
