@using Antlr.Runtime.Tree

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Dashboard</h2>
@Html.ActionLink("Events", "Index", "AdminEvents", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Locations", "Index", "AdminLocations", null, new { @class = "btn btn-primary" })

<hr />
<h2>Reports</h2>
@Html.ActionLink("Ticket Sales", "AllTicketQuantities", "AdminTicket", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Orders", "Index", "Order", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Payment", "Index", "AdminPayments", null, new { @class = "btn btn-primary" })
@Html.ActionLink("All Members", "Index", "AdminMembers", null, new { @class = "btn btn-primary" })
<hr />

<h3>User and Role Management</h3>
@Html.ActionLink("Add an Admin", "Index", "InitAdmin", null, new { @class = "btn btn-primary" })
@Html.ActionLink("User Management", "Index", "UsersAdmin", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Role Management", "Index", "RolesAdmin", null, new { @class = "btn btn-primary" })
