@model ABF.ViewModels.FullBasketViewModel

@{
    ViewBag.Title = "BasketwithAddOns";

    var addons = Model.addontickets;
    var events = Model.eventtickets;
    var member = Model.Membership;
    decimal grandtotal = 0;

}

<h2>Your Basket</h2>
<hr />
@if (events != null && events.Count > 0)
 {
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Event</th>
            <th>Author</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>Location</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>

        </thead>

        <tr><td> </td></tr>

        @foreach (var item in events)
         {
            <tr class="table-primary">
                <td><b>@item.Event.Name</b></td>
                <td>@item.Event.Author</td>
                <td>@item.Event.Date.ToString("ddd dd MMM")</td>
                <td>@item.Event.StartTime.ToString("HH:mm")</td>
                <td>@item.LocationName</td>
                <td style="text-align:right">£@item.Event.TicketPrice</td>
                <td>@item.Quantity</td>
                <td style="text-align:right">
                    @{
                        var subtotal = item.Event.TicketPrice * item.Quantity;
                        grandtotal += subtotal;
                    }
                    £@subtotal
                </td>
            </tr>

            if (Model.addontickets != null)
            {
                <tr>
                    @foreach (var ao in Model.addontickets)
                    {
                        if (ao.Key.EventId == item.Event.Id)
                        {
                            <td><i>+ Event Extras: </i></td>
                            <td colspan="4">@ao.Key.Name</td>
                            <td style="text-align:right">£@ao.Key.Price</td>
                            <td>@ao.Value</td>
                            <td style="text-align: right">
                                @{
                                    var x = ao.Key.Price * ao.Value;
                                    grandtotal += x;
                                }
                                £@x
                            </td>
                        }

                    }
                </tr>
            }

            <tr><td> </td></tr>
         }
    </table>
 }


@if (Model.Membership != null)
{
    <table class="table">
        <tr class="table-warning">
            <td><b>ABF Membership:</b>  @Model.Membership.Type. <b>&nbsp; Expires:</b> 31 Dec @DateTime.Today.ToString("yyyy")</td>
            <td style="text-align:right">
            £@Model.Membership.Price
            @{ grandtotal = grandtotal + Model.Membership.Price; }
        </tr>
       
    </table>
}
                
<table class="table">
    <tr>
        <td class="table-secondary" style="text-align:right; font-size:larger"><b>Total: &nbsp; &nbsp; &nbsp; £@grandtotal</b></td>
    </tr>

</table>

