@using ABF.Data.ABFDbModels
@model ABF.ViewModels.EventDetailsViewModel
@{
    ViewBag.Title = "Details";
    var addondictionary = Model.AddOnsAndAvailabilities;
    int Eavail = Model.EventAvailability;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<table id="infoheader">
    <tr>
        <td rowspan="5" style="width:280px;">
            @if (Model.Event.ImageId != 0)
            {
                <img src="@Url.Content(Model.Image.ImagePath)" width="250" />
            }
        </td>

        <td style="width:55%">
            <h2>@Model.Event.Name</h2>
        </td>

        <td rowspan="5" style="width:300px; background-color:#fcbf2d; text-align:center; align-content:center">
            <br />
            <h3>Tickets <b>£@Model.Event.TicketPrice</b></h3>
            <sup class="text-danger">@Model.EventAvailability tickets available</sup>
            <br/>
            @{if (User.IsInRole("Member") || !Model.Event.IsMemberOnly)
                {

                    <button name="button" type="button" class="subevent btn btn-default" style="background-color:#2bb6af; font-size:medium; border:1px solid black">-</button>;
                    <input name="quantity" type="text" id="@Model.Event.Id" value="0" class="fieldevent" style="width:25px; text-align:center; border:2px solid black" />;
                    <button name="button" type="button" class="addevent btn btn-default" style="background-color:#2bb6af; font-size:medium; border:1px solid black">+</button><br />
                    <br />

                    <form method="post" class="addformevent" action="@Url.Action("AddtoBasket", "Basket", null)">
                        <input name="eventId" type="text" class="Id" value=@Model.Event.Id />
                        <input name="quantity" type="text" class="storeevent" value="0" />
                        <input name="availability" type="text" class="availableEvent" value=@Eavail />
                        <button type="submit" style="width:130px; height:40px; background-color:#2bb6af; border-radius:10px; border:2px solid black">
                            Add to Basket
                        </button>
                    </form>
                    <hr />

                    if (addondictionary.Count > 0)
                    {
                        <h5>Add-Ons:</h5>
                        foreach (KeyValuePair<AddOn, int> item in addondictionary)
                        {
                            <p>@item.Key.Name - <b>£@item.Key.Price</b></p>
                            <sup class="text-danger">@item.Value available</sup><br/>

                            <button name="button" type="button" class="sub btn btn-default" style="background-color:#2bb6af; font-size:medium; border:1px solid black">-</button>
                            <input name="quantity" type="text" id="@item.Key.Id" value="0" class="field" style="width:25px; text-align:center; border:2px solid black" />
                            <button name="button" type="button" class="add btn btn-default" style="background-color:#2bb6af; font-size:medium; border:1px solid black">+</button><br />
                            <br />

                            <form method="post" class="addform" action="@Url.Action("AddAddOns", "Basket", null)">
                                <input name="addonId" type="text" class="aId" value=@item.Key.Id />
                                <input name="quantity" type="text" class="store" value="0" />
                                <input name="availability" type="text" class="available" value="@item.Value" />
                                <button type="submit" style="width:130px; height:40px; background-color:#2bb6af; border-radius:10px; border:2px solid black">
                                    Add
                                </button>
                            </form>
                            <hr/>
                        }
                    }
                }
                else
                {
                    <p><b>Members Exclusive Event</b></p>
                    <p>If you are a member, please Login to enable ticket purchase for this event.</p>
                }
            }
        </td>
    </tr>

    <tr>
        <td>
            <h3>@Model.Event.Author</h3>
        </td>
    </tr>

    <tr>
        <td>
            <h5>@Model.Event.Date.ToShortDateString(), @Model.Event.StartTime.ToShortTimeString() - @Model.Event.EndTime.ToShortTimeString()</h5>
        </td>

    </tr>

    <tr>
        <td>
            <h5>@Model.Location.Name</h5>
        </td>
    </tr>

    <tr style="height:25%">
        @if (addondictionary.Count > 0)
        {
            <td style="background-color:aliceblue">

                <ul style="list-style:none">
                    <li>
                        <b><u>Extras Available:</u></b>
                    </li>
                    @foreach (KeyValuePair<AddOn, int> item in addondictionary)
                    {
                        <li>
                            <b>£@item.Key.Price - @item.Key.Name</b>: @item.Key.Description
                        </li>
                    }
                </ul>
            </td>
        }
    </tr>
</table>
<hr />

<table id="maincontent">
    <tr>
        <td style="vertical-align:top">
            <h4><i>@Model.Event.Details</i></h4>
            <hr />
            <p>@Model.Event.Description</p>
        </td>

        <td style="width:10px"></td>

        <td rowspan="3" style="width:35%;background-color:#f4814b">
            <table id="locationmap">
                <tr>
                    <td id="googleMap" colspan="2" style="height:250px; width:200px; margin-left:10px></td>
                </tr>

                <tr>
                    <td colspan="2">
                        <address style="text-align:right">
                            <b>@Model.Location.Name</b><br />
                            @Model.Location.Address1, @Model.Location.Address2 <br />
                            <b>@Model.Location.PostCode</b>
                        </address>
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="~/Content/MapIcons/arrow.png" width="30">
                    </td>
                    <td>
                        @Model.Location.Info
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="~/Content/MapIcons/Disability_Friendly-512.png" width="30" />
                    </td>
                    <td>
                        @if (!Model.Location.DisabledAccess)
                        {
                            <b>We regret there is currently no disabled access at this venue.</b>
                        }
                        else
                        {
                            <b>Please contact a steward on arrival for disabled access or assistance.</b>
                        }
                    </td>
                </tr>

            </table>
        </td>
    </tr>

    <tr style="border:2px dashed blue; border-radius:2px; height:auto">
        <td>
            <table id="externalLinksTable">
                <tr>
                    <td style="width:250px">
                        <h5><b>External Links:</b></h5>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <h5>Buy The Book</h5>
                    </td>
                    <td>
                        <h5><a href=@Model.Event.BookUrl>@Model.Event.Name</a></h5>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h5>Author's Website</h5>
                    </td>
                    <td>
                        <h5><a href=@Model.Event.AuthorUrl>@Model.Event.Author</a></h5>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>



<script>
    // ADDING TICKETS
    $('.addevent').click(function () {
        var avail = Number($(".availableEvent").val());
        var req = Number($(".storeevent").val());

        if (req < avail)
        {
            $(".fieldevent").val(+$(".fieldevent").val() + 1);
            $(".storeevent").val($(".fieldevent").val());
        }
        else {
            alert("Maximum number of available tickets reached.");
        }
    });

    // REMOVING TICKETS
    $('.subevent').click(function () {
        var req = Number($(".storeevent").val());

        if (req > 0)
        {
            $(".fieldevent").val(+$(".fieldevent").val() - 1);
            $(".storeevent").val($(".fieldevent").val());
        }
    });

</script>


<script>
    function myMap()
    {
        var mapProp = {
            center: new google.maps.LatLng(@Model.Location.LatLong),
            zoom: 16,
            mapTypeControl: false
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        //Set the locations of the places of interest
        var venue_location = new google.maps.Marker(
            {
                position: new google.maps.LatLng(@Model.Location.LatLong),
            });

        // plot the locations on the map
        venue_location.setMap(map);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZjX96xNoeARC3mo2WLQHsJbwDJsV5PdM&callback=myMap"></script>
