@model ABF.ViewModels.EventIndexViewModel

@{
    ViewBag.Title = "Index";
    var events = Model.events;
    var datelist = Model.datelist;
}

@Html.Partial("_DateList", datelist)

<br />

<br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<table class="table" id="eventsTable">
    <tr id="tableheader">
        <th></th>
        <th style="display:none">Hidden ID</th>
<input type="text" id="myInput" onkeyup="doSearch()" placeholder="Search...">

<table class="table" id="eventsTable">
    <tr id="tableheader">
        <th style="display:none">ID</th>

        <th>Title</th>
        <th>Author</th>
        <th style="display:none">Hidden Date</th>
        <th>Date</th>
        <th>Time</th>
        <th>Price</th>
        <th>Venue</th>
        <th style="display:none">Hidden Topics</th>
        <th colspan="4" style="text-align:center">Tickets</th>
    </tr>

    @foreach (var item in events)
    {
        var fulldate = item.thisevent.Date.ToString("ddMMMyyyy");
        var date = item.thisevent.Date.ToString("ddd dd MMM").ToString();
        var times = item.thisevent.StartTime.ToString("HH:mm") + " - " + item.thisevent.EndTime.ToString("HH:mm");

    <tr id="tabledata">
        <td>
            @if (item.thisevent.IsMemberOnly)
            {
                <img src="~/Content/MapIcons/vipIcon.png" width="25" alt="Members Exclusive Event" />
            }
        </td>
        <td>@Html.ActionLink(item.thisevent.Name, "Details", new { id = item.thisevent.Id })</td>
        <td>@item.thisevent.Author</td>
        <td style="display:none">@fulldate</td>
        <td style="white-space:nowrap">@date</td>
        <td style="white-space:nowrap">@times</td>
        <td>£@item.thisevent.TicketPrice</td>
        <td>@item.thislocation.Name</td>
        <td style="display:none">All the topics go here</td>
        <td id="eventId" style="display:none"><p>@item.thisevent.Id</p> </td>

        @if (item.thisevent.IsMemberOnly && !User.IsInRole("Member"))
        {
            <td colspan="4">
                <button style="width:250px; background-color:rgba(255, 0, 0, 0.82); border-radius:10px; text-align:center">
                    Members Exclusive Event<br />
                    <sub>Log In or click <b>here</b> for information</sub>
                </button>
            </td>
        }
        else
        {
            <td>
                <button name="button" type="button" class="sub btn btn-default" style="background-color:yellow; font-size:medium; border:1px solid black">-</button>
            </td>
            <td>
                <input name="quantity" type="text" id="@item.thisevent.Id" value="0" class="field" style="width:25px; text-align:center; border:2px solid black" />
            </td>
            <td>
                <button name="button" type="button" class="add btn btn-default" style="background-color:yellow; font-size:medium; border:1px solid black">+</button>
            </td>
            <td>
                <form method="post" class="addform" action="@Url.Action("AddtoBasket", "Basket", null)">
                    <input name="eventId" type="hidden" class="eId" value=@item.thisevent.Id>
                    <input name="quantity" type="hidden" class="store" value="0" />
                    <button type="submit" style="width:130px; height:40px; background-color:#fcbf2d; border-radius:10px; border:2px solid black">
                        Add to Basket
                    </button>
                </form>
            </td>
        }
    </tr>
                </td>
            }
            else
            {
                <td>
                    <button name="button" type="button" class="sub btn btn-default" style="background-color:yellow; font-size:medium; border:1px solid black">-</button>
                </td>
                <td>
                    <input name="quantity" type="text" id="@item.thisevent.Id" value="0" class="field" style="width:25px; text-align:center; border:2px solid black" />
                </td>
                <td>
                    <button name="button" type="button" class="add btn btn-default" style="background-color:yellow; font-size:medium; border:1px solid black">+</button>
                </td>
                <td>
                    <button style="width:130px; height:40px; background-color:#fcbf2d; border-radius:10px; border:2px solid black">Add to Basket</button>
                </td>
            }
        <th style="display:none">Topics</th>
    </tr>
    }

    @foreach (var item in Model)
    {
        <tr id="tabledata">
            <td style="display:none">@item.thisevent.Id</td>
            <td>@Html.ActionLink(item.thisevent.Name, "Details", new { id = item.thisevent.Id })</td>
            <td>@item.thisevent.Author</td>
            <td>@item.thisevent.Date.ToShortDateString()</td>
            <td>@item.thisevent.StartTime.ToShortTimeString() - @item.thisevent.EndTime.ToShortTimeString()</td>
            <td>£@item.thisevent.TicketPrice</td>
            <td>@item.thislocation.Name</td>
            <td style="display:none">All the topics go here</td>
            <td style="font-size:30px"><i class="fas fa-plus-square" style="color:#fcbf2d"></i></td>
            <td style="font-size:20px;align-content:center"><text>0</text></td>
            <td style="font-size:30px"><i class="fas fa-minus-square" style="color:#fcbf2d"></i></td>
            <td><button style="width:130px; height:50px; background-color:#f4814b">Add to Basket</button></td>
        </tr>
    }

</table>
<script>

    // search function for filtering data by day.
    function doSearch(searchText) {
        var searchTextUp = searchText.toUpperCase();

    function doSearch() {
        var searchText = document.getElementById('myInput').value.toUpperCase();
        var targetTable = document.getElementById('eventsTable');
        var targetTableColCount;

        //Loop through table rows
        for (var rowIndex = 0; rowIndex < targetTable.rows.length; rowIndex++) {
            var rowData = '';

            //Get column count from header row
            if (rowIndex == 0) {
                targetTableColCount = targetTable.rows.item(rowIndex).cells.length;
                continue; //do not execute further code for header row.
            }

            //Process data rows. (rowIndex >= 1)

            // The date column (3) is the only one being searched
            for (var colIndex = 0; colIndex < targetTableColCount; colIndex++) {
                rowData += targetTable.rows.item(rowIndex).cells.item(colIndex).textContent;
                rowData = rowData.toUpperCase();
            }

            //If search term is not found in row data
            //then hide the row, else show
            if ((rowData.indexOf(searchTextUp) == -1)) {
                targetTable.rows.item(rowIndex).style.display = 'none';
            }
            else {
                targetTable.rows.item(rowIndex).style.display = 'table-row';
            }
        }
    }
</script>
<script>

    // when any element with the 'add' class is clicked....
    $('.add').click(function () {

        // if value of 'field' class in previous TD is valid
        if (!isNaN($(this).parent().prev().children(".field").val()))
        {
            // (this)       = the current HTML tag (with the 'add' class). In this case, a <button>.
            // parent()     = the containing HTML tag (in this case, our <button> is contained in a <td> tag)
            // prev()             = find the previous occurence of the <td> tag (in this case)
            // children()         = return the elements inside the 'previous' <td> tag - in this case, only a <button>
            // children(".field") = return the element inside the 'previous' <td> tag which has the class 'field'
            // val()              = get the value of the element

            $(this).parent().prev().children(".field").val(+$(this).parent().prev().children(".field").val() + 1);
            $(this).parent().next().children(".addform").children(".store").val($(this).parent().prev().children(".field").val());
        }
        else {
            $(this).parent().prev().children(".field").val(0);
            $(this).parent().next().children(".addform").children(".store").val(0);
        }
    });

    $('.sub').click(function () {
        if ((!isNaN($(this).parent().next().children(".field").val())) && ($(this).parent().next().children(".field").val() > 0)) {
            $(this).parent().next().children(".field").val(+$(this).parent().next().children(".field").val() - 1);
            $(this).parent().next().next().next().children(".addform").children(".store").val(+$(this).parent().next().children(".field").val());
        }
        else {
            $(this).parent().next().children(".field").val(0);
            $(this).parent().next().next().next().children(".addform").children(".store").val(0);
        }
    });

</script>



 
<script>

            if (rowData.indexOf(searchText) == -1)
                targetTable.rows.item(rowIndex).style.display = 'none';
            else
                targetTable.rows.item(rowIndex).style.display = 'table-row';
        }
    }
</script>

