@using ABF.ViewModels
@model ABF.ViewModels.OrderDetailsViewModel
@{
    ViewBag.Title = "Order Details";
}

<h3>Order Details: <b>@Model.order.Id</b>, placed on @Model.order.Date.ToString("ddd dd MMM") at @Model.order.Time.ToString("HH:mm")</h3>
<hr />

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <table>
                <thead>
                    <tr>
                        <td colspan="2"><h4>Customer Details:</h4></td>
                    </tr>
                </thead>
                <tr>
                    <td><b>Customer Account:</b></td>
                    <td>
                        @Model.customer.Name<br/>
                        @Model.customer.Email<br/>
                        @Model.customer.PhoneNumber
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><br/><h4>Delivery Details:</h4></td>
                </tr>
                <tr>
                    <td><b>Delivery Address</b></td>
                    <td>
                        <b>@Model.order.DeliveryName</b><br/>
                        @Model.order.Address1 @Model.order.Address2,<br/>
                        @Model.order.Address3,<br/>
                        @Model.order.PostCode
                    </td>
                </tr>
                <tr>
                    <td><b>Delivery Email</b></td>
                    <td>@Model.order.Email</td>
                </tr>
                <tr>
                    <td><b>Delivery Phone</b></td>
                    <td>@Model.order.PhoneNumber</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <table>
                <thead>
                <tr>
                    <td colspan="2"><h4>Payment and Delivery</h4></td>
                </tr>
                </thead>
                <tr>
                    <td><b>Payment Method</b></td>
                    <td>@Model.payment.Method</td>
                </tr>
                <tr>
                    <td><b>Payment Amount</b></td>
                    <td>£@Model.payment.Amount</td>
                </tr>
                <tr>
                    <td><b>Delivery Method</b></td>
                    <td>@Model.order.Delivery</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<hr/>

<div class="container">
    <h3>Tickets:</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Event</th>
            <th>AddOn ID</th>
            <th>Download Ticket</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.ticketlist)
            {
                <tr>
                    <td>@ticket.Id</td>
                    <td>@ticket.Event.Name</td>
                    <td>@ticket.AddOnId</td>
                    <td>@Html.ActionLink("Download Ticket", "DownloadTicket", "Checkout", new { id = ticket.Id }, htmlAttributes: new { @class = "btn btn-info btn-block shadow-sm", @target = "_blank" })</td>
                </tr>
            }
        </tbody> 
    </table>
</div>
