@model IEnumerable<ABF.ViewModels.OrderListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>
<hr />

<table class="table table-hover table-bordered table-condensed" id="OrdersTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date/Time</th>
            <th>Email</th>
            <th>Account Name</th>
            <th>Delivery Name</th>
            <th>Delivery</th>
            <th>Payment</th>
            <th>Price</th>
            <th>Details</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td><b>@item.orderId</b></td>
            <td>@item.orderDate.ToString("dd-MM-yyyy"), @item.orderTime.ToString("HH:mm")</td>
            <td>@Html.DisplayFor(modelItem => item.email)</td>
            <td>@Html.DisplayFor(modelItem => item.customerName)</td>
            <td>@Html.DisplayFor(modelItem => item.deliveryname)</td>
            <td>@Html.DisplayFor(modelItem => item.deliveryMethod)</td>
            <td>@Html.DisplayFor(modelItem => item.paymentMethod)</td>
            <td><b>£@Html.DisplayFor(modelItem => item.price)</b></td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.orderId })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(function () {
            $('#OrdersTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}
